@import "~styles/_variables";
@import "~styles/_mixins";

.user-module {
  button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-top: 50px;
    background-color: #157efb;
    color: white;
    cursor: pointer;
    outline: none;
    transition: all .2s;
    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  }
}
