:global {
  body {
    background-color: #f2f2f2;
    font-family: 'Lato';
    text-align: center;
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
  }

  h4 {
    font-size: 16px;
    font-weight: 300;
  }

  .header {
    margin: 50px 0 50px 0;
  }
}
